@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Audiowide', cursive;
    background-color: #010101;
    color: #d3d3d3cc;
    margin: 0 0 400px;
}

.background {
    background-image: url("/static/img/growth.jpg");
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;

    height: 100vh;
}

@media (max-width: 1024px) {
    .background{
        height: 750px;
    }
}

/* Header section */
header {
    background-color: rgba(1, 1, 1, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    margin: 5px;
}

.logo img {
    height: 40px;
}

/* Navbar Stylesheet */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-list li {
    display: inline-block;
}

.navbar-list li a {
    display: block;
    padding: 15px;
    color: #C0C0C0;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    font-family: 'Audiowide', cursive;
}

.navbar-list li a span,
.navbar-list li a span {
    transition: all .5s;
}

.navbar-list li a span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.navbar-list.expanded {
    margin-left: auto;
}

/* TypeWriter animation */
.title {
    text-align: center;
    z-index: 1;
    width: 100%;
}

.title h1 {
    display: inline-block;
    font-size: 5rem;
    color: #fff;
    font-family: 'Orbitron', cursive;
    font-weight: bold;
    cursor: context-menu;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px #dcdcdc;
    word-wrap: normal;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
}

/* Contact Us StyleSheet*/
.contact {
    margin: 30px;
    background: linear-gradient(90deg, #910E64, #03458E);
    padding: 30px;
    border-radius: 20px;
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    flex-direction: row;
}

.form .form-txt {
    font-family: 'Righteous', cursive;
    width: 50%;
}

.form .form-txt h1 {
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: rgba(211, 211, 211, 1);
}

.form .form-txt span {
    color: rgba(211, 211, 211, 0.8);
    font-size: 20px;
}

.form .form-txt h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0;
    margin-top: 50px;
    color: rgba(211, 211, 211, 0.9);
}

.form .form-txt p {
    color: rgba(211, 211, 211, 0.8);
    font-size: 16px;
}

.form .form-details {
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px rgb(0 0 0 / 50%);
    backdrop-filter: blur(20px);
    width: 45%;
}

.form .form-details input {
    padding: 15px 20px;
    margin: 35px 35px;
    color: rgba(211, 211, 211, 0.8);
    outline: none;
    display: block;
    width: 80%;
    font-size: 14px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

.form .form-details input:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid white;
}

.form .form-details input::placeholder {
    font-size: 13px;
    letter-spacing: 1px;
}

.form .form-details textarea {
    padding: 15px 20px;
    margin: 0px 35px;
    outline: none;
    width: 80%;
    color: rgba(211, 211, 211, 0.8);
    min-height: 50px;
    font-size: 14px;
    resize: none;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: vertical;
}


.form .form-details textarea:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid white;
}

.form .form-details textarea::placeholder {
    font-size: 13px;
    letter-spacing: 1px;
}

/* Tiles */
.radio-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 35px 30px;
    height: 130px;
}

@media (max-width: 1024px) {
    .radio-container {
        margin: 55px 30px;
    }
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    position: absolute;
}

@media (max-width: 1024px) {
    .radio-tile-group {
        gap: 40px;
    }
}

.radio-tile-group .input-container {
    position: relative;
    height: 5.3rem;
    width: 5.3rem;
    margin: 0.5rem;
}

@media (max-width: 1024px) {
    .radio-tile-group .input-container {
        height: 9rem;
        width: 9rem;
    }
}

.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
    width: 8rem;
    margin: 0;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .radio-tile-group .input-container .radio-button {
        height: 11rem;
        width: 11rem;
    }
}

.radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #079ad9;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
}

.radio-tile-group .input-container .icon svg {
    fill: #079ad9;
    width: 3rem;
    height: 3rem;
}

.radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #079ad9;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile {
    background-color: #079ad9;
    border: 2px solid #079ad9;
    color: white;
    transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
    fill: white;
    background-color: #079ad9;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: white;
    background-color: #079ad9;
}

/* Send Button */
#send-button {
    color: #42caff;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    font-size: 17px;
    padding: 1rem 2rem;
    margin: 20px 35px;
    height: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 10px 10px 20px -10px rgb(255 255 255 / 20%);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: all .5s;
}

#send-button:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
}

@media (max-width: 1024px) {
    .form {
        flex-direction: column;
        margin: 40px 0;
    }

    .form .form-txt {
        width: 100%;
    }

    .form .form-details {
        margin-top: 40px;
        width: 100%;
    }

    .form .form-details input {
        width: 85%;
        font-size: 35px;
    }

    .form .form-details input::placeholder {
        font-size: 35px;
    }

    .form .form-details textarea {
        width: 85%;
        font-size: 35px;
    }

    .form .form-details textarea::placeholder {
        font-size: 35px;
    }

    #send-button {
        font-size: 30px;
    }
}

/* Animations */
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.animate--active {
    opacity: 1;
    transform: translateY(0);
}

/* Footer StyleSheet */
footer {
    color: #d3d3d3cc;
    font-family: 'Orbitron', cursive;
    /* padding: 10px; */
    position: absolute;
    /* height: 500px; */
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer-content {
    position: relative;
    padding-top: 50px;
    display: grid;
}

.wave-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
}

#part1 {
    position: absolute;
    top: 0;
    left: 0;
    fill: #910E64;
    width: 500px;
    z-index: -1;
    animation: move1 7s ease-in-out infinite;
    transform-origin: 50% 50%;
}

#part2 {
    position: absolute;
    top: 0;
    left: 0;
    fill: #03458E;
    width: 500px;
    z-index: -1;
    animation: move2 11s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes move1 {
    0% {
        transform: scale(1) translate(10px, 0px);
    }

    38% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) translate(10vw, 30vh) rotate(160deg);
    }

    78% {
        transform: scale(.5) translate(0vw, -70vh) rotate(-20deg);
    }

    80% {
        transform: scale(.5) translate(0vw, -70vh) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(10px, 0px);
    }
}

@keyframes move2 {
    0% {
        transform: scale(1) translate(200%, 80%);
    }

    38% {
        transform: scale(0.8, 1) translate(280%, 10%) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) translate(280%, 10%) rotate(160deg);
    }

    78% {
        transform: scale(.5) translate(40%, -50%) rotate(-20deg);
    }

    80% {
        transform: scale(.5) translate(40%, -50%) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(200%, 80%);
    }
}

/* Sharing button */
.wrapper {
    display: flex;
    place-items: center;
    position: absolute;
    width: 100px;
    padding-left: 90%;
    margin-top: 80px;
}

.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #C0C0C0;
    color: #151515;
    border-radius: 50%;
}

.btn {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    right: 0.575%;
}

@media (max-width: 1300px) {
    .btn {
        right: 1%;
    }
}

@media (max-width: 1024px) {
    .wrapper {
		padding-left: 87%;
    }

    .btn {
        right: 1%;
    }
}

.active .btn,
.btn:hover {
    outline: 3px solid #0561ee;
    outline-offset: -4px;
}

.item {
    position: absolute;
    list-style: none;
    transition: transform 0.5s;
    transition-delay: var(--d);
    z-index: 3;
}

.item a {
    text-decoration: none;
}

.wrapper.active .item:nth-child(1) {
    transform: translateX(-65px) translateY(-30px);
}

.wrapper.active .item:nth-child(2) {
    transform: translateY(-65px);
}

.wrapper.active .item:nth-child(3) {
    transform: translateY(65px);
}

.wrapper.active .item:nth-child(4) {
    transform: translateY(40px) translateX(-65px);
}

.link:hover {
    color: #fff;
    transition: background-color 0.5s;
}

.ig:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.tw:hover {
    background-color: #1da1f2;
}

.yt:hover {
    background-color: #ff0000;
    color: inherit;
}

.in:hover {
    background-color: #0A66C2;
    color: inherit;
}

/* Information at Footer */
.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info h2 {
    position: inherit;
    padding-top: 120px;
    padding-left: 10px;
    margin: 0px;
    bottom: 3%;
}